/*--------------------------------------- **
**                                        **
**         FEUILLE DE STYLE CSS           **
**                                        **
**-------- par Amadou Dioubate -------------*/

/*---------------------------------------*/
/*==            SOMMAIRE                 */
/*---------------------------------------*/

/*L   STYLE ELEMENTS PRINCIPAUX        -1-*/
/*L         EN TETE (HEADER)           -2-*/
/*L     SECTION TROUVER HEBERGEMENT    -3-*/
/*L          SECTION HEBERGEMENT       -4-*/
/*L            SECTION ACTIVITE        -5-*/
/*L       PIED DE PAGE (FOOTER)        -6-*/

/*---------------------------------------*/
/*==         COULEURS CODES              */
/*---------------------------------------*/
/*Bleu                             #0065FC
  Bleu claire                      #DEEBFF
  Gris                             #F2F2F2
  */

/*---------------------------------------*/
/*==         DEFINITIONS POLICES         */
/*---------------------------------------*/
/* Police du site est RALEWAY

/*---------------------------------------*/
/*==         ELEMENTS PRINCIPAUX         */
/*---------------------------------------*/
* {
    box-sizing: border-box;
}
body,figure,ul,h1{
    margin: 0;
    padding: 0;
}
body {
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Raleway',sans-serif;
    /*min-width: 320px;*/
    letter-spacing: .03rem;
}
figure,img{
    width: 100%;
    height: auto;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.gras{
    font-weight: bold;
}
.couleur_etoile_gris {
    color: #F2F2F2;
}
/*-------------------------------------------------------------------------*/
/*==   La factorisation du code css concernant l'ensemble des sections     */
/*-------------------------------------------------------------------------*/
#trouver_hebergement,#hotel_trouve,#populaire,#activites,#pied_de_page {
    padding: 20px;
}
.inscription a,.bordure_trait_bleu a,.couleur_etoile_bleu {
    color: #0065FC;
}
.liste_navigation,.formulaire_recherche,.ville_recherche,.icone_recherche,
.icone_localisation,.menu_filtrage,.choix_filtres,.icone_awesome,
.logement_disponible,.icone_information,.choix_filtres a,#hebergements,.titre_populaire,
.icone_ligne_de_caractere,.chambres_populaires,.etoiles {
    display: flex;
}
.icone_awesome,.icone_information,.icone_ligne_de_caractere,
.icone_recherche,.icone_localisation {
    justify-content: center;
}
.icone_awesome,.icone_information,.icone_ligne_de_caractere,
.icone_recherche,.icone_localisation,.liste_navigation,.choix_filtres a {
    align-items: center;
}
.ville_recherche,.chambres_populaires {
    width: 100%;
}
.formulaire_recherche,.ville_recherche,.icone_recherche,
.icone_localisation,.champ_texte,.choix_filtres,.icone_awesome,.choix_filtres a{
    height: 50px;
}
#navigation,.inscription{
    text-align: center;
}
#en_tete,.choix_filtres{
    position: relative;
}
.inscription,.icone_awesome{
    position: absolute;
}
.icone_information,a{
    color:#000;
}
.titre_populaire,.menu_filtrage {
    justify-content: space-between;
}
#activites h2,.informations_chambres_populaires h3{
    margin-top: 0;
}
#populaire,#pied_de_page {
    background-color: #F2F2F2;
}
.choix_filtres,.icone_information,.chambres,.chambres_populaires,figure{
    background-color: #FFF;
}
.choix_filtres:hover,.icone_recherche{
    background-color:#0065FC;
}
.chambres,.chambres_populaires,figure{
    margin-bottom: 20px;
}
.chambres,.chambres_populaires,figure{
    box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 
                0px 10px 10px -5px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
}
.images_chambres img,.images_chambres_populaires img,figure img{
    object-fit: cover;
}
.champ_texte,figcaption {
    padding-left: 20px;
}
.chambres h3,.informations_chambres_populaires h3,figcaption {
    font-size: 1.2rem;
}

/*---------------------------------------*/
/*==       EN TETE (HEADER)              */
/*---------------------------------------*/
#en_tete {
    height: 140px;
}
.logo img{
    height: 60px;
}
.logo {
    width: 30%;
}
#navigation {
    width: 100%;
}

.liste_navigation,.liste_navigation li{
    height: 80px;
}
.liste_navigation li,.inscription{
    display: block;
}
.liste_navigation li {
    width: 50%;
    padding-top: 30px;  
}
.bordure_trait_bleu{
    border-bottom: 4px #0065FC solid;
}
.bordure_trait_gris{
    border-bottom: 4px #F2F2F2 solid;
}
.inscription {
    top: 20px;
    right: 5px;
    width: 25%;
}

/*---------------------------------------*/
/*== SECTION TROUVER VOTRE HEBERGEMENT   */
/*---------------------------------------*/
#trouver_hebergement h1{
    margin-top: 30px;
}
#trouver_hebergement p{
    margin-top: 15px;
    margin-bottom: 24px;
    width: 70%;
}
.formulaire_recherche {
    width: 300px;
}
.champ_texte {
    width: 200px;
    font-size: 1.1rem;
    border: 0;
}
.icone_recherche,.icone_localisation,.icone_awesome,.icone_ligne_de_caractere {
    width: 50px;
}
.icone_recherche,.icone_localisation,.choix_filtres,.icone_information {
    border: 2px #F2F2F2 solid;
}
.icone_awesome,.icone_information {
    border-radius: 100%;
}
.icone_awesome,.icone_localisation {
    background-color: #DEEBFF;
}
.icone_localisation {
    border-radius: 30px 0 0px 30px;
}
.icone_recherche {
    border-radius: 10px;
    /*background-color: #0065FC;*/
    color: #fff;
}
.bouton_recherche {
    display: none;
}
/************** La partie filtrage *************/
.titre_filtre {
    margin-top: 40px;
    margin-bottom: 15px;
}
.menu_filtrage {
    flex-wrap: wrap;
}
.choix_filtres {
    margin-bottom: 20px;
    border-radius: 25px;
}
.icone_awesome {
    left: -2px;
    top: -2px;    
}
.icone_awesome i,.icone_information i{
    color: #0065FC;
}
.choix_filtres a {
    padding-left: 55px;
    padding-right: 20px;
}
.logement_disponible{
    margin-top: 20px;
}
.icone_information {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
/*---------------------------------------*/
/*==          SECTION HEBERGEMENTS       */
/*---------------------------------------*/

#hebergements {
    flex-direction: column-reverse;
}
/**** La partie section hebergements concernant les chambres populaires ****/
.icone_ligne_de_caractere {
    font-size: 1.9rem;
}
.chambres,.chambres_populaires{
    padding: 5px;
}
.chambres_populaires {
    height: 230px;
}
.informations_chambres_populaires {
    height: 185px;
    padding: 15px;
}
.informations_chambres_populaires h3,.informations_chambres_populaires p {
    margin-bottom: 0px;
}
.informations_chambres_populaires p{
    margin-top: 10px;
}
.informations_chambres_populaires p,.chambres p,.etoiles,.icone_information {
    font-size: 1rem;
}
.informations_chambres_populaires .etoiles {
    padding-top: 40px;
}

.images_chambres_populaires img {
    height: 220px;
    width: 180px;
    border-radius: 15px 0 0 15px;
}

/**** La partie section hebergements concernant toutes les chambres ****/
.chambres {
    height: 270px;  
}
.chambres h3,.chambres p,.chambres .etoiles {
    margin-left: 10px;
}
.images_chambres img{
    height: 150px;
    border-radius: 20px 20px 0 0;
}
.chambres h3,.chambres p {
    margin-top: 10px;
}
.chambres h3,figcaption {
    margin-bottom: 0px;
}
.chambres p {
    margin-bottom: 10px;
}
.affiche_plus_de_chambres {
    margin-top: 30px;
    font-size: 1.5rem;
}
/*---------------------------------------*/
/*==          SECTION ACTIVITES          */
/*---------------------------------------*/

figure {
    margin-bottom: 30px;
    height: 270px;
}
figure img {
    height: 190px;
    border-radius: 20px 20px 0 0;
    
}
figcaption {
    padding-left: 20px;
    padding-top: 25px;
}
/*---------------------------------------*/
/*==     PIED DE PAGE(FOOTER)            */
/*---------------------------------------*/

.contenu_pied_de_page{
    margin-bottom: 40px;
}

/*-------------------------------------------------------------*/
/*==                      STYLE TABLETTES                      */
/*-------------------------------------------------------------*/
@media screen and (min-width:768px) and (max-width:991px) {

    /*-------------------------------------------------------------------------*/
    /*==   La factorisation du code css concernant l'ensemble des sections     */
    /*                          la partie tablette                             */
    /*-------------------------------------------------------------------------*/
    #en_tete,.contenu_populaire,.contenu_toutes_les_chambres,.bloc_activites,#pied_de_page {
        display: flex;
        justify-content: space-between;
    }
    /*---------------------------------------*/
    /*==      EN TETE  (HEADER)              */
    /*---------------------------------------*/
    
    #en_tete {
        height: 80px;
    }
    .logo {
        flex-basis: 20%;
    }
    .logo img{
        height: 70px;
        padding-top: 20px
    }
    #navigation{
        flex-basis: 65%;
    }
    .liste_navigation {
        justify-content: flex-end;
    }
    .liste_navigation li,.inscription{
        padding-top: 35px;
    }
    .liste_navigation li {
        border-bottom: 0;
        width: 35%;
    }
    .bordure_trait_bleu{
        border-top: 2px #0065FC solid;
    }
    .inscription {
        position: static;
        flex-basis: 15%;
    }

    /*---------------------------------------------------*/
    /*==          SECTION TROUVER HEBERGEMENT            */
    /*---------------------------------------------------*/

    .formulaire_recherche {
        width: 450px;
    }
    .champ_texte{
        width: 300px;
    }
    /*---------------------------------------------------*/
    /*==          SECTION HEBERGEMENTS ET ACTIVITES      */
    /*---------------------------------------------------*/
   .contenu_populaire,.contenu_toutes_les_chambres,.bloc_activites {
        flex-wrap: wrap;
    }
    .chambres_populaires,.chambres,.figure_longue,.images_activites {
        width: 49%;
    }
    .figure_longue {
        height: 570px;
    }
    .figure_longue img{
        height: 490px;
    }    
}

/*-------------------------------------------------------------*/
/*==                      STYLE DESKTOPS                       */
/*-------------------------------------------------------------*/
@media screen and (min-width:992px) and (max-width:1199px) {
    
    main{
        width: 90%;
        margin: 0 auto;
        /*max-width: 1459px;*/
    }
    /*-------------------------------------------------------------------------*/
    /*==   La factorisation du code css concernant l'ensemble des sections     */
    /*                          la partie desktop                              */
    /*-------------------------------------------------------------------------*/
    #en_tete,.filtres,.contenu_toutes_les_chambres,.bloc_activites,#pied_de_page{
        display: flex;
    }
    #en_tete,.contenu_toutes_les_chambres,.bloc_activites,#pied_de_page{
        justify-content: space-between;
    }
    #hotel_trouve h2,.titre_populaire h2,.icone_ligne_de_caractere i,
    .affiche_plus_de_chambres,.titre_filtre,.champ_texte{
        font-size: 1.3rem;
    }
    #en_tete,.bouton_recherche,.choix_filtres a {
        font-size: 1rem;
    }
    
    .chambres h3,.informations_chambres_populaires h3,.bloc_activites figcaption{
        font-size: 0.8rem;
    }
    /*---------------------------------------*/
    /*==       EN TETE (HEADER)              */
    /*---------------------------------------*/
    #en_tete{
        height: 80px;
        margin-left: 50px;
        margin-right: 65px;
    }
    
    .logo {
        flex-basis: 15%;
        padding-top: 15px;
        padding-left: 10px;
    }
    #navigation{
        flex-basis: 75%;
    }
    .liste_navigation {
        justify-content: flex-end;
    }
    .liste_navigation li,.inscription{
        padding-top: 35px;
    }
    .liste_navigation li {
        border-bottom: 0;
        width: 22%;
    }
    .bordure_trait_bleu{
        border-top: 2px #0065FC solid;
    }
    
    .inscription {
        position: static;
        flex-basis: 10%;
    }
    /*---------------------------------------*/
    /*== SECTION TROUVER VOTRE HEBERGEMENT   */
    /*---------------------------------------*/
    .formulaire_recherche,.champ_texte{
        width: 480px;
    }
    .icone_recherche{
        display: none;
    }
    .bouton_recherche,.titre_filtre{
        height: 50px;
    }
    .bouton_recherche {
        display: block;
        width: 130px;
        border-radius: 0px 10px 10px 0px;
        background-color: #0065FC;
        color: #fff;
        border: 0;
    }
    
    .menu_filtrage {
        width: 100%;
        padding-top: 20px;
        margin-top: 20px;
    }
    .titre_filtre {
        margin-right: 25px;
        margin-top: 50px;
    }

    /*---------------------------------------------------*/
    /*==             SECTION HEBERGEMENTS                */
    /*---------------------------------------------------*/
    #hebergements{
        flex-direction: row;
    }
    #populaire,#hotel_trouve{
        border-radius: 20px;
    }
    #hotel_trouve{
        margin-right: 20px;
        background-color: #F2F2F2;
    }

    .contenu_toutes_les_chambres {
        flex-wrap: wrap;
    }
    .chambres {
        flex-basis: 32%;
        background-color: #fff;
        height: 180px;
    }
    .chambres p,.chambres .etoiles,.informations_chambres_populaires p
    ,.informations_chambres_populaires .etoiles{
        font-size: 0.7rem;
    }

    .chambres_populaires {
        width: 280px;
        height: 140px;
    }
    .images_chambres_populaires img {
        height: 130px;
        width: 120px;
    }
    .informations_chambres_populaires {
        height: 130px;
    }
    .images_chambres img {
        height: 100px;
    }
    .chambres h3, .chambres p {
        margin-top: 5px;
    }
    
    /*-----------------------------------------------*/
    /*==               SECTION ACTIVITES             */
    /*-----------------------------------------------*/
    
    .figure_longue,.images_activites{
        flex-basis: 24%;
    }
    .figure_longue{
        height: 470px;
    }
    .figure_longue img{
        height: 390px;
    }
    .figure_courte {
        height: 220px;
    }
    .figure_courte img{
        height: 140px;
    }
    
    /*---------------------------------------*/
    /*==      PIED DE PAGE (FOOTER)          */
    /*---------------------------------------*/   
    #pied_de_page {
        padding: 0 80px;
    }
}

@media screen and (min-width:1200px){
    body{
        background-color:#fff;
    }
    main{
        width: 90%;
        margin: 0 auto;
        max-width: 1400px;
    }
    /*-------------------------------------------------------------------------*/
    /*==   La factorisation du code css concernant l'ensemble des sections     */
    /*                          la partie desktop                              */
    /*-------------------------------------------------------------------------*/
    .filtres,.contenu_toutes_les_chambres,.bloc_activites,#pied_de_page{
        display: flex;
    }
    .contenu_toutes_les_chambres,.bloc_activites,#pied_de_page{
        justify-content: space-between;
    }
    #hotel_trouve h2,.titre_populaire h2,.icone_ligne_de_caractere i,
    .affiche_plus_de_chambres,.titre_filtre,.champ_texte{
        font-size: 1.3rem;
    }
    .bouton_recherche,.choix_filtres a,.chambres h3,
    .informations_chambres_populaires h3,.bloc_activites figcaption{
        font-size: 1rem;
    }
    
    /*---------------------------------------*/
    /*== SECTION TROUVER VOTRE HEBERGEMENT   */
    /*---------------------------------------*/
    .formulaire_recherche,.champ_texte{
        width: 480px;
    }
    .icone_recherche{
        display: none;
    }
    .bouton_recherche,.titre_filtre{
        height: 50px;
    }
    .bouton_recherche {
        display: block;
        width: 130px;
        border-radius: 0px 10px 10px 0px;
        background-color: #0065FC;
        color: #fff;
        border: 0;
    }
    
    .menu_filtrage {
        width: 100%;
        padding-top: 20px;
        margin-top: 20px;
    }
    .titre_filtre {
        margin-right: 25px;
        margin-top: 50px;
    }

    /*---------------------------------------------------*/
    /*==             SECTION HEBERGEMENTS                */
    /*---------------------------------------------------*/
    #hebergements{
        flex-direction: row;
    }
    #populaire,#hotel_trouve{
        border-radius: 20px;
    }
    #hotel_trouve{
        margin-right: 20px;
        background-color: #F2F2F2;
    }
    .contenu_toutes_les_chambres {
        flex-wrap: wrap;
    }
    .chambres {
        flex-basis: 32%;
        background-color: #fff;
        height: 190px;
    }
    .chambres p,.chambres .etoiles,.informations_chambres_populaires p
    ,.informations_chambres_populaires .etoiles{
        font-size: 0.9rem;
    }

    .chambres_populaires {
        width: 340px;
        height: 170px;
    }
    .images_chambres_populaires img {
        height: 160px;
        width: 140px;
    }
    .informations_chambres_populaires {
        height: 150px;
    }

    .images_chambres img {
        height: 100px;
    }
    .chambres h3, .chambres p {
        margin-top: 5px;
    }
    /*-----------------------------------------------*/
    /*==               SECTION ACTIVITES             */
    /*-----------------------------------------------*/
    
    .figure_longue,.images_activites{
        flex-basis: 24%;
    }
    .figure_longue{
        height: 470px;
    }
    .figure_longue img{
        height: 390px;
    }
    .figure_courte {
        height: 220px;
    }
    .figure_courte img{
        height: 140px;
    }
    
    /*---------------------------------------*/
    /*==      PIED DE PAGE (FOOTER)          */
    /*---------------------------------------*/   
    #pied_de_page {
        padding: 0 80px;
    }
}