/*--------------------------------------- **
**                                        **
**         FEUILLE DE STYLE CSS           **
**                                        **
**-------- par Amadou Dioubate -------------*/

/*---------------------------------------*/
/*==            SOMMAIRE                 */
/*---------------------------------------*/

/*L   STYLE ELEMENTS PRINCIPAUX        -1-*/
/*L         EN TETE (HEADER)           -2-*/
/*L     SECTION TROUVER HEBERGEMENT    -3-*/
/*L          SECTION HEBERGEMENT       -4-*/
/*L            SECTION ACTIVITE        -5-*/
/*L       PIED DE PAGE (FOOTER)        -6-*/

/*---------------------------------------*/
/*==         COULEURS CODES              */
/*---------------------------------------*/
/*Bleu                             #0065FC
  Bleu claire                      #DEEBFF
  Gris                             #F2F2F2
  */

/*---------------------------------------*/
/*==         DEFINITIONS POLICES         */
/*---------------------------------------*/
/* Police du site est RALEWAY

/*---------------------------------------*/
/*==         ELEMENTS PRINCIPAUX         */
/*---------------------------------------*/
* {
    box-sizing: border-box;
    /* outline-color: #F2F2F2; */
}
body,figure,ul,h1{
    margin: 0;
    padding: 0;
}
body {
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Raleway',sans-serif;
    /*min-width: 320px;*/
    letter-spacing: .03rem;
}
figure,img{
    width: 100%;
    height: auto;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #000;
}
.gras{
    font-weight: bold;
}
.couleur_etoile_bleu {
    color: #0065FC;
}
.couleur_etoile_gris {
    color: #F2F2F2;
}
#trouver_hebergement,#hotel_trouve,#populaire,#activites,#pied_de_page {
    padding: 20px;
}
/*---------------------------------------*/
/*==       EN TETE (HEADER)              */
/*---------------------------------------*/
#en_tete {
    height: 140px;
    position: relative;
}
.logo img{
    height: 60px;
}
.logo {
    width: 30%;
}
#navigation,.inscription{
    text-align: center;
}
#navigation {
    width: 100%;
}
.liste_navigation,.liste_navigation li{
    height: 80px;
}
.liste_navigation {
    display: flex;
    align-items: center;
}
.liste_navigation li,.inscription{
    display: block;
}
.liste_navigation li {
    width: 50%;
    padding-top: 30px;  
}
.bordure_trait_bleu{
    border-bottom: 4px #0065FC solid;
}
.bordure_trait_gris{
    border-bottom: 4px #F2F2F2 solid;
}
.inscription {
    position: absolute;
    top: 20px;
    right: 5px;
    width: 25%;
}
.inscription a,.bordure_trait_bleu a{
    color: #0065FC;
}
/*---------------------------------------*/
/*== SECTION TROUVER VOTRE HEBERGEMENT   */
/*---------------------------------------*/
#trouver_hebergement h1{
    margin-top: 30px;
}
#trouver_hebergement p{
    margin-top: 15px;
    margin-bottom: 24px;
    width: 70%;
}
.formulaire_recherche,.ville_recherche,.icone_recherche,.icone_localisation{
    display: flex;
    height: 50px;
}
.ville_recherche {
    width: 100%;
}
.champ_texte {
    height: 50px;
    flex-basis: 80%;
    /*font-size: 1.3rem;*/
    border: 0;
    padding-left: 20px;
}
.icone_recherche,.icone_localisation,.icone_awesome{
    width: 50px;
}
.icone_recherche,.icone_localisation{
    justify-content: center;
    align-items: center;
    border: 2px #F2F2F2 solid;
}
.icone_localisation {
    border-radius: 30px 0 0px 30px;
    background-color: #DEEBFF;
    color: #000;
}
.icone_recherche {
    border-radius: 10px;
    background-color: #0065FC;
    color: #fff;
}
.bouton_recherche {
    display: none;
}
/* filtrage */
.titre_filtre {
    margin-top: 40px;
    margin-bottom: 15px;
    /*font-size: 1.3rem;*/
}
.menu_filtrage,.choix_filtres,.icone_awesome,.logement_disponible,.icone_information {
    display: flex;
}

.menu_filtrage {
    flex-wrap: wrap;
    justify-content: space-between;
}
.choix_filtres,.icone_awesome,.choix_filtres a{
    height: 50px;
}
.choix_filtres,.icone_information{
    border: 2px #F2F2F2 solid;
    background-color: #FFF;
}
.choix_filtres {
    margin-bottom: 20px;
    border-radius: 25px;
    position: relative;
}
.icone_awesome,.icone_information,.icone_ligne_de_caractere {
    justify-content: center;
    align-items: center;
}
.icone_awesome,.icone_information {
    border-radius: 100%;
}
.icone_awesome {
    background-color: #DEEBFF;
    position: absolute;
    left: -2px;
    top: -2px;    
}
.icone_awesome i,.icone_information i{
    color: #0065FC;
}
.choix_filtres a {
    padding-left: 55px;
    padding-right: 20px;
    display: flex;
    align-items: center;
}
.logement_disponible{
    margin-top: 20px;
}
.icone_information {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    font-size: 1rem;
}
/*---------------------------------------*/
/*==          SECTION HEBERGEMENTS       */
/*---------------------------------------*/
/*hebergement --aside--*/
#hebergements,.titre_populaire,.icone_ligne_de_caractere,.chambres_populaires,.etoiles{
    display: flex;
}
#hebergements {
    flex-direction: column-reverse;
}
#populaire {
    background-color: #F2F2F2;
}
.titre_populaire {
    justify-content: space-between;
}
.icone_ligne_de_caractere {
    width: 50px;
    font-size: 1.9rem;
}
.chambres,.chambres_populaires{
    box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 
                0px 10px 10px -5px rgba(0, 0, 0, 0.04);
    background-color: #fff;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
}
.chambres_populaires {
    height: 230px;
    width: 100%;  
}
.informations_chambres_populaires {
    height: 185px;
    padding: 15px;
}

.informations_chambres_populaires h3,.informations_chambres_populaires p {
    margin-bottom: 0px;
}
.informations_chambres_populaires p{
    margin-top: 10px;
}
.informations_chambres_populaires h3{
    font-size: 1.2rem;
    margin-top: 0;
}
.informations_chambres_populaires p,.etoiles {
    font-size: 1rem;
}
.informations_chambres_populaires .etoiles {
    padding-top: 30px;
}
.images_chambres img,.images_chambres_populaires img{
    object-fit: cover;
}
.images_chambres_populaires img {
    height: 210px;
    width: 180px;
    border-radius: 15px 0 0 15px;
}
/*hebergements*/
.chambres {
    height: 270px;  
}

.images_chambres img{
    height: 150px;
    border-radius: 20px 20px 0 0;
}
.chambres h3,.chambres p,.chambres .etoiles {
    margin-left: 10px;
}
.chambres h3,.chambres p {
    margin-top: 10px;
}
.chambres h3 {
    margin-bottom: 0px;
    font-size: 1.2rem;
}
.chambres p,.chambres .etoiles {
    font-size: 1rem;
}
.chambres p {
    margin-bottom: 10px;
}
.affiche_plus_de_chambres {
    margin-top: 30px;
    font-size: 1.5rem;
}
/*---------------------------------------*/
/*==          SECTION ACTIVITES          */
/*---------------------------------------*/
#activites h2{
    margin-top: 0;
}
figure {
    margin-bottom: 30px;
    height: 270px;
    border-radius: 20px;
    box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 
                0px 10px 10px -5px rgba(0, 0, 0, 0.04);
}
figure img {
    height: 190px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    overflow: hidden;
}
figcaption {
    font-size: 1.2rem;
    padding-left: 20px;
    padding-top: 25px;
}
/*---------------------------------------*/
/*==     PIED DE PAGE(FOOTER)            */
/*---------------------------------------*/
#pied_de_page{
    padding: 20px;
    background-color: #F2F2F2;
}
.contenu_pied_de_page{
    margin-bottom: 40px;
}

/*-------------------------------------------------------------*/
/*==                      STYLE TABLETTES                      */
/*-------------------------------------------------------------*/
@media screen and (min-width:768px) and (max-width:991px) {

    /*---------------------------------------*/
    /*==      EN TETE  (HEADER)              */
    /*---------------------------------------*/
    
    #en_tete {
        display: flex;
        justify-content: space-between;
        height: 80px;
    }
    .logo {
        flex-basis: 20%;
    }
    .logo img{
        height: 70px;
        padding-top: 20px
    }
    #navigation{
        flex-basis: 65%;
    }
    .liste_navigation {
        justify-content: flex-end;
    }
    .liste_navigation li,.inscription{
        padding-top: 35px;
    }
    .liste_navigation li {
        border-bottom: 0;
        width: 35%;
    }
    .bordure_trait_bleu{
        border-top: 2px #0065FC solid;
    }
    
    .inscription {
        position: static;
        flex-basis: 15%;
    }

    /*---------------------------------------------------*/
    /*==          SECTION TROUVER HEBERGEMENT            */
    /*---------------------------------------------------*/

    .formulaire_recherche{
        width: 450px;
    }
    /*---------------------------------------------------*/
    /*==          SECTION HEBERGEMENTS ET ACTIVITES      */
    /*---------------------------------------------------*/
   .contenu_populaire,.contenu_toutes_les_chambres,.bloc_activites {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .chambres_populaires,.chambres,.figure_longue,.images_activites {
        width: 49%;
    }
    .figure_longue {
        height: 570px;
    }
    .figure_longue img{
        height: 490px;
    }
    /*---------------------------------------*/
    /*==     PIED DE PAGE (FOOTER)           */
    /*---------------------------------------*/   
    #pied_de_page {
        display: flex;
        justify-content: space-between;
    }
    
}

/*-------------------------------------------------------------*/
/*==                      STYLE DESKTOPS                       */
/*-------------------------------------------------------------*/
@media screen and (min-width:992px) and (max-width:1199px) {
    /* code css factorisé de la partie DESKTOP*/
    #en_tete,.filtres,.contenu_toutes_les_chambres,.bloc_activites,#pied_de_page{
        display: flex;
    }
    #en_tete,.contenu_toutes_les_chambres,.bloc_activites,#pied_de_page{
        justify-content: space-between;
    }
    main{
        width: 90%;
        margin: 0 auto;
        /*max-width: 1459px;*/
    }
    /*---------------------------------------*/
    /*==       EN TETE (HEADER)              */
    /*---------------------------------------*/
    #en_tete{
        height: 80px;
        margin-left: 50px;
        margin-right: 65px;
        font-size: 1rem;
    }
    
    .logo {
        flex-basis: 15%;
        padding-top: 15px;
        padding-left: 10px;
    }
    #navigation{
        flex-basis: 75%;
    }
    .liste_navigation {
        justify-content: flex-end;
    }
    .liste_navigation li,.inscription{
        padding-top: 35px;
    }
    .liste_navigation li {
        border-bottom: 0;
        width: 22%;
    }
    .bordure_trait_bleu{
        border-top: 2px #0065FC solid;
    }
    
    .inscription {
        position: static;
        flex-basis: 10%;
    }
    /*---------------------------------------*/
    /*== SECTION TROUVER VOTRE HEBERGEMENT   */
    /*---------------------------------------*/
    .formulaire_recherche{
        width: 480px;
    }
    .icone_recherche{
        display: none;
    }
    .bouton_recherche,.choix_filtres a{
        font-size: 1rem;
    }
    .bouton_recherche,.titre_filtre{
        height: 50px;
    }
    .bouton_recherche {
        display: block;
        width: 130px;
        border-radius: 0px 10px 10px 0px;
        background-color: #0065FC;
        color: #fff;
        border: 0;
    }
    /*.filtres {
        display: flex;
    }*/
    .menu_filtrage {
        width: 100%;
        padding-top: 20px;
        margin-top: 20px;
    }
    .titre_filtre,.champ_texte{
        font-size: 1.3rem;
    }
    .titre_filtre {
        margin-right: 25px;
        margin-top: 50px;
    }
}